<h1>Here I should be able to find the questions. Hard coding one question in seems easy, but what about the rest?</h1>

<body> Is this more text?


<%= form_with url: "/answer", method: :get do |form| %>
  <br> <%= form.label :query, "Enter guess:" %>
  <%= form.text_field :query %><br>
  <%= form.submit "Submit" %>
<% end %>

</body>