<h1>Here I should be able to find the questions. Hard coding one question in seems easy, but what about the rest?</h1>

<body> Is this more text?


<form>
  <label for="guess">Enter your guess:</label><br>
  <input type="text" id="guess" name="guess"><br>
  <input type="submit", value="Submit">
</form>

</body>