<body style="text-align: center !important; width: 100%; margin: 0 auto; margin: auto !important;">
<h1>This site is easiest way to learn every U.S.A. president.</h1>
<p>Begin learning right now with 'Quick Start' or modify your learning experience using the 'Tools' now.</p>

<%= link_to "Start Quiz", "questions/2/", class: 'start' %>
