
<div class = 'pres_table'>
  <div id = 'welcome_banner_h'>
    <%= 'This site is easiest way to learn every U.S.A. president.'%>
  </div>
  <div id='welcome_text'>
    <%= "Begin learning right now with \'Quick Start\' or choose where to start by clicking on \'Questions.\'"%>
  </div> <br>
  <div>
    <%= link_to "Start Quiz", "questions/1/", class: 'start' %>

    <%= link_to "Questions", "questions/", class: 'start' %>
  </div>
</div>


