// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hint-button {
  
}

#hint-1 {
  display: none;
}

#hint-2 {
  display: none;
}

#hint-3 {
  display: none;
}