// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#welcome_banner_h {
  font-size: 300%;
  font-weight: bold;
  background: -webkit-linear-gradient(#B22234, #3C3B6E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#welcome_text {
  padding: 5px;
}

.start{
  font: bold 24px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 5px solid #CCCCCC;
  border-right: 5px solid #333333;
  border-bottom: 5px solid #333333;
  border-left: 5px solid #CCCCCC;
}